.container4 {
    position: relative;
    width: 100%;
    max-width: 105vh;
    margin: 0 auto;
    padding: 5vh;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4vh;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    max-height: 90vh; /* Limit the maximum height */
  }

  .modal-close1 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Ensures the shape is a circle */
    background-color: #0077af; /* Circle color */
    color: white; /* X color */
  }  

  